* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("./assets/5777924.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: white;
}
